PORT=3000

MONGODB_USER=your_user
MONGODB_PASSWORD=your_password
MONGODB_URL=your-cluster.mongodb.net
MONGODB_DB=your-database

SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=login@smtp-brevo.com
SMTP_PASSWORD=password
SMTP_FROM=example@gmail.com
JWT_SECRET=generatesecret
APP_DOMAIN=http://localhost:

CLOUDINARY_CLOUD_NAME=your_name
CLOUDINARY_API_KEY=key
CLOUDINARY_API_SECRET=secret

